body {
  margin: 0;
}

#wrapper {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
}
.navigation::after {
  content: "";
  display: table;
  clear: both;
  margin: 50px 0 160px 0;
}
.section {
  width: 940px;
  margin: auto;
  /*background-color: grey;*/
  display: block;
  color: white;
}
.nav-left {
  /*margin-right: 10px;*/

}
.nav-rigth {
  float:right;
}
.nav-list li {
  display:inline-table;
  list-style: none;
  /*float: right;*/
  margin: 10px 10px 0 0;
}
.content {
  text-align: center;
}
h2 {
  text-transform: uppercase;
  font-size: 66px;
  margin: 0 0 80px 0;
  font-family: url(https://fonts.google.com/?query=lato);
}
h4 {
  font-size: 32px;
  margin: 0 0 49px 0;
  font-family: url(https://fonts.google.com/?query=lato);
}
button {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px 5px 5px 5px;
  background-color: transparent;
  color: white;
  margin: 0 0 128px 0;
  width: 240px;
  height: 60px;
  font-size: 16px;
  font-family: url(https://fonts.google.com/?query=lato);
}
img {
  float: left;
  margin: 10px 0 0 10px;
  /*width: 28px;*/
}
a {
  color: white;
  text-decoration: none;
}
